<main id="main" class="main">
    <section class="section dashboard">
      <!-- Recent Sales -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li> 
            </ul>
          </div>

          </div>  
        <div *ngFor="let print of formsData">
          <div  class="card-body">
            <!-- <h5 class="card-title">hi </h5> -->
            <h5 >{{print.message}}</h5>

          </div> 
          <div class="card-body">
            <h6 >{{resp}}</h6>
          </div> 
 
        </div>
        </div>
        <div class="search-bar whatsap-send-chat">
            <form [formGroup]="submitForm" class="search-form d-flex align-items-center" method="POST" action="#">
              <input type="text" name="query" placeholder=" Type your msg" title="Enter search keyword" formControlName="message" style="outline: none;">
              <button class="inputBtn color-succsese" type="text" title="Search"  (click)="saveData()"><i class="bi bi-send"></i></button>
            </form>
          </div><!-- End Search Bar -->
      <!-- </div> -->
      <!-- End Recent Sales -->
    </section>

  </main><!-- End #main -->